a {
    text-decoration: none;
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.cart-product-container {
    box-shadow: 0 4px 4px 0 #00000038;
}
.cart-product-label {
    color: #00000061;
    margin-bottom: 0.50rem;
}

.detail-container {
    box-shadow: 0 4px 4px 0 #00000038;
}

.detail-container img {
    width: 100%;
    margin-top: 0.75rem;
}